<head>
     <!-- Google Tag Manager -->
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-PXPVXGR');</script>
     <!-- End Google Tag Manager -->
     <!-- Adsense automatic-->
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <script>
          (adsbygoogle = window.adsbygoogle || []).push({
               google_ad_client: "ca-pub-9518975479660473",
               enable_page_level_ads: true
          });
     </script>
     <!-- finish Adsense -->
     <meta charset="UTF-8">
     <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Params.Title }}{{ end }}</title>
     <link rel="apple-touch-icon"  href="/apple-touch-icon.png" />
     <link rel="icon" href="/favicon.svg">
     <!-- Safari用ファビコン設定-->
     <link rel="mask-icon" sizes="any" href="/favicon.svg" color="#0bd">
     <!-- svg未対応ブラウザ用ファビコン設定-->
     <link rel="icon alternate" href="/favicon.png" type="image/png">
     {{ template "_internal/opengraph.html" . }}
     {{ $style := resources.Get "css/ress.css" | minify }}
     {{ $mystyle := resources.Get "css/mystyle.css" | minify | fingerprint }}
     <link href="{{ $style.Permalink }}" rel="stylesheet" type="text/css">
     <style type="text/css">{{ $mystyle.Content | safeCSS }}</style>
</head>